
:root{
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --white: #FFF;
    --slate-color: #434455;
    --ocean-color: #404BBF;
    --black: #000;
    
}
/*
*{
    margin: 0;
    padding: 0;
}*/
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
nav{
    float: left;
}
address{
    float: right;
}
body{
    font-family: Roboto, sans-serif;
    color: var(--slate-color);
    background-color: var(--white);
    width: 1440px;
}
main{
    align-items: center;
}
footer{
    background-color: var(--navyblue-color);
    color: var(--white);
    width: 1440px;
    flex-shrink: 0; 
    padding-left: 156px;
    padding-top: 101.5px;
}
.down{
    display: block;
    padding-top: 101.5px;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 1440px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    align-items: baseline;
}
.logo{
    font-weight: 800;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    color: var(--iris-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.list>a{
    color: var(--slate-color);
}
.sph{
    /* span w headerze */
    color: var(--navyblue-color);
}
.spf{
    /* span w footerze */
    color: var(--cloud-color);
}
.buttons{
    text-align: center;
}
button{
    
    background:  var(--cloud-color);
    color: var(--iris-color);
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    
}
button:hover, button:focus{
    background-color: var(--ocean-color);
    color: var(--white);
    font-family: Roboto, sans-serif;
}
.buttons_list>button:focus, .buttons_list>button:hover{
    background-color: var(--ocean-color);

}
.buttons_list{
    display: inline-flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
    padding-bottom: 120px;
}
li{
    color: var(--slate-color); 
    background-color: var(--white);
}
.team{
    background-color: var(--cloud-color);
    width: 1440px;
    flex-shrink: 0;
}
.order{
    background-color: var(--navyblue-color);
    text-align: center;
    color: var(--white);
    width: 1440px;
    flex-shrink: 0;
}
.order>button{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
    background: var(--iris-color);
    font-family: Roboto, sans-serif;
}
.order>button:hover, .order>button:focus{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
    background: var(--ocean-color);
    font-family: Roboto, sans-serif;
}
.title-of-description{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    padding-bottom: 0px;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.bigger_p{
    color: var(--navyblue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
}
.smaller_p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    padding-bottom: 32px;  
}   
.person>.bigger_p{
    text-align: center;
}
.person>.smaller_p{
    text-align: center;
}

.lia{
    font-weight: 500;
    color: var(--navyblue-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.lia:hover, .lia:focus{
    color: var(--ocean-color);
}
.contact{
    color: var(--slate-color); 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none; 
}
.contact:hover, .contact:focus{
    color: var(--ocean-color);
}
.contact-to-firm{
    font-style: normal;
}
.down_logo_description{
    color: var(--cloud-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link{  
    text-decoration: none; 
}
address{
    font-style: normal;
}
.list{
    list-style: none;
    
}
.solution{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}
.example-headers{
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-color);   
}
.example-headers-third>{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
}

.list{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}
.a_list{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}
.images{
    justify-content: space-between;
    flex-wrap: wrap;
}
.images_list, .workers_list{
    justify-content: space-between;
}
.contact_list{
    gap: 40px;
}
.example-headers{
    text-align: center;
}
button.service{
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}
.buttons_images{
    margin-left: auto;
    margin-right: auto;
}

.buttons_list_button{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;
    border: 0;
    text-align: center;
    display: block;
    padding: 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    flex-basis: calc((1158px - 48px) / 3);
}
.point_li{
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.photos{
    display: flex;
    width: 360px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower-color);

}
nav.logo{
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}
.down_logo_description{
    padding-bottom: 100px;
}
.p{
    padding-top: 0px;
}
